{% extends "base.html" %}

{% block shorttitle %}О системе{% endblock %}

{% block description %}С сервисом RBKcard бесплатный терминал оплаты банковскими картами в вашем телефоне либо планшете за считанные секунды! Узнайте, как получить кард ридер RBKcard для приема платежей!{% endblock %}

{% block about_active_menu %}active{% endblock %}

{% block content %}
<h1>RBK Card – выгодный терминал для оплаты банковской картой!</h1>
	<p>RBK Card станет отличным решением для автоматизации малого бизнеса - небольших магазинов, баров и кафе, служб такси и курьерской доставки, салонов красоты и многих других предприятий. </p> 
	<p>Пользователи RBK Card в среднем увеличили свой доход на 30% по сравнению с теми, у кого нет терминала оплаты услуг, и продолжает принимать только наличные!</p> 
	
	<h2 class="acc-pseudo"><span>Как подключить RBK Card?</span></h2>
	<div class="acc-hidden">
		<p>У вас есть компьютер, смартфон либо планшет с выходом в интернет  - этого достаточно, чтобы пользоваться ими как терминалом оплаты картой! 
         Осталось сделать три легких шага:</p> 
	  <p>1. Заполните анкету для <a href="https://pos.acceptcards.ru/registration/">регистрации</a>.</p> 
		<p>2. Получите доступ в систему RBC Card «виртуальный  кошелек».<br>
        <p> После этого вы сможете мгновенно принимать безналичные платежи от клиентов. Вводите данные карты прямо в личном кабинете на любом компьютере.</p>
		<p>3. Получите по почте кардридер.<br>
		<p>Используйте RBK Card кардридер — маленькое устройство для считывания карт, которое мы предоставим вам совершенно бесплатно, для работы со смартфоном или планшетом (на базе Android либо iOS). </p> 
	</div>
	<h2 class="acc-pseudo"><span>Преимущества</span></h2>
	<div class="acc-hidden">
		<p>Просто подключить – Принимайте сразу же платежи банковскими картами - всего один документ и несколько минут на регистрацию. </p> 

		<p>Выгодно – Увеличьте среднюю суму чека на 30% по сравнению с результатами приема только наличных платежей. </p> 

		<p>Легко работать – Просто вводите данные о товаре и номер карты – с этим легко справитесь вы и любой сотрудник. Не нужно устанавливать и обслуживать сложное оборудование, обучать кассиров и сотрудников. </p> 

		<p>Быстро получить – Зачисляйте мгновенно деньги на свой счет. Данные о клиентах, транзакциях и сумме чеков отображаются в режиме реального времени.</p>  

		<p>Всегда доступно – Круглосуточная техническая поддержка и прием оплаты в любом месте без выходных и праздников.</p> 
	</div>	
{% endblock %}