{% extends "base.html" %}

{% block shorttitle %}Платежный POS терминал цена{% endblock %}

{% block cost_active_menu %}active{% endblock %}

{% block description %}Сколько стоит терминал оплаты? Получите бесплатный кард ридер RBKcard для приема платежей банковскими картами!{% endblock %}

{% block content %}
<h1>Сколько стоит терминал оплаты банковскими картами?</h1>  	
<p>За платежи с помощью RBK Card мы взимаем небольшую комиссию — 2,9%.<br>
Подпишитесь и получите совершенно бесплатно:</p>
<ul>
<li>Кардридер (устройство для считывания банковских карт) </li>
<li>Специальная программа для вашего мобильного телефона или планшета</li>
<li>Вывод средств из кошелька RBK Money на ваш расчетный счет</li>
<li>Круглосуточная техническая поддержка</li>
</ul>
<p>Абонентской платы и ограничений по переводу у нас тоже нет.</p>
<p>Более того, с RBK Card вам не придется тратиться на покупку дополнительного оборудования и обучение персонала. </p>
{% endblock %}