{% extends "base.html" %}

{% block help_active_menu %}active{% endblock %}

{% block shorttitle %}FAQ{% endblock %}

{% block description %}Тут вы найдете список часто задаваемых вопросов и ответов о сервисе RBK Card{% endblock %}

{% block content %}
<h1>Общие вопросы</h1>
	<h2 class="acc-pseudo"><span>Зачем нужен сервис RBK Card?</span></h2>
	<div class="acc-hidden">
		<p>Наш сервис обеспечивает максимально простой, надежный и безопасный прием банковских карт для любых предприятий малого бизнеса и индивидуальных предпринимателей. Подключение к RBK Card не требует подготовки и затрат, а работа с ним не только проста, но и прибыльна: вы можете достичь увеличения числа клиентов и средней суммы покупки на 30%!</p> 
	</div>

	<h2 class="acc-pseudo"><span>Почему использовать RBK Card удобнее, чем обычный POS-терминал?</span></h2>
	<div class="acc-hidden">
		<ul>
		<li>Вам не потребуется заключать договор с банком, собирать пакет документов и проходить банковскую проверку.</li>
		<li>Для организации приема к оплате карт не нужно специальное оборудование.</li>
		<li>Вам не потребуется обучать сотрудников для работы с незнакомым оборудованием.</li>
		<li>Вам не придется платить банку за комиссию подключение и абонентское обслуживание.</li>
		<li>Вам не потребуется организация дополнительной телефонной линии.</li>
		<li>Сервис позволит вам получать информацию обо всех проведенных платежах в режиме реального времени по всем торговым точкам. </li>
		<li>Прием платежей по банковским картам доступен в любое время и везде, где есть выход в интернет.</li>
		<li>Принимать платежи может неограниченное число кассиров. </li>
		<li>Информация о клиенте и его электронный адрес сохраняются в системе, что позволяет в дальнейшем проводить программы лояльности и эффективные рассылки.</li>
		<li>Вы храните чеки об оплате в электронном виде и с легкостью отправляете их клиентам.</li>
		</ul>
	</div>

	<h2 class="acc-pseudo"><span>Для кого предназначен сервис?</span></h2>
	<div class="acc-hidden">
		<p>RBK Card можно использовать для любых видов деятельности, не запрещенных законодательством РФ. Наш сервис станет отличным решением для небольших магазинов, баров и кафе, служб такси и курьерской доставки, салонов красоты и многих других небольших предприятий.</p> 
	</div>
	
	
	<h1>Регистрация и начало работы</h1>
	
	<h2 class="acc-pseudo"><span>Почему использовать RBK Card удобнее, чем обычный POS-терминал?</span></h2>
	<div class="acc-hidden">
		<p>Для работы с RBK Card вам потребуется любое устройство с выходом в интернет:</p> 
		<ul>
		<li>Персональный компьютер</li>
		<li>Ноутбук</li>
		<li>Мобильный телефон (iOS, Android)</li>
		<li>Планшетный компьютер (iOS, Android)</li>
		</ul>
		<p>Для начала приема платежей нужно зарегистрироваться в системе. Это займет всего пару минут.</p>
		<ul>
		<li>Зайдите на сайт www.rbkcard.ru, введите адрес вашей электронной почты и нажмите «Присоединиться»</li>
		<li>Введите ответ на секретный вопрос, пароль платежа,  внимательно ознакомьтесь с условиями договора и нажмите «Завершить регистрацию».</li>
		</ul>
		<p>После этого на ваш электронный адрес придет письмо со ссылкой для завершения регистрации. Перейдите по ней — и вы готовы принимать карты к оплате.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Какую информацию необходимо сообщать при регистрации?</span></h2>
	<div class="acc-hidden">
		<p>Вам надо будет указать следующие данные:</p> 
		<ul>
		<li>e-mail (он будет служить именем пользователя в системе);</li>
		<li>название вашего магазина и его адрес;</li>
		<li>Ф.И.О., дату рождения, телефон;</li>
		<li>наименование юридического лица и его форму собственности;</li>		
		<li>ОГРН, ИНН, КПП.</li>
		</ul>
		<p>Для безопасной работы в системе нужно придумать пароль входа и пароль платежа, а также ввести ответ на секретный вопрос, который поможет вам восстановить пароль платежа в случае его утери. Восстановить пароль входа вы сможете, указав дату своего рождения.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Что нужно указать в поле КПП при регистрации в качестве ИП?</span></h2>
	<div class="acc-hidden">
		<p>Ничего — оставьте это поле пустым. Система ошибки не выдаст.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>У меня уже есть кошелек RBK Money. Надо ли мне регистрироваться заново для работы с RBK Card?</span></h2>
	<div class="acc-hidden">
		<p>Да, для работы с сервисом необходима отдельная регистрация на сайте www.rbkcard.ru.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Сколько стоит регистрация в системе?</span></h2>
	<div class="acc-hidden">
		<p>Регистрация абсолютно бесплатна.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Обязательно ли наличие расчетного счета при работе с сервисом?</span></h2>
	<div class="acc-hidden">
		<p>Да, наличие расчетного счета обязательно. Принятые от клиентов средства  изначально поступают на счет вашего кошелька RBK Money и затем по вашему распоряжению переводятся на расчетный счет.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Какой адрес надо указывать при регистрации — фактический, юридический или оба?</span></h2>
	<div class="acc-hidden">
		<p>При регистрации обязательно указывайте фактический (почтовый) адрес своего предприятия.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Я иностранное юридическое лицо, но работаю в России. Могу ли я использовать RBK Card?</span></h2>
	<div class="acc-hidden">
		<p>Сервисом может воспользоваться любое юридическое лицо, зарегистрированное на территории РФ и имеющее расчетный счет в российском банке.</p> 
	</div>
	
	
	<h1>Безопасность</h1>
	
	<h2 class="acc-pseudo"><span>Безопасно ли использовать ваш сервис?</span></h2>
	<div class="acc-hidden">
		<p>С RBK Card деньги защищены лучше, чем под замком кассового аппарата. И вот почему:</p> 
		<ul>
		<li>Данные карт покупателей невозможно украсть — они попросту не хранятся в системе.</li>
		<li>Система надежно защищена от взлома — используется шифрование данных по протоколу SSL.</li>
		<li>Любая подозрительная операция будет замечена и пресечена — для этого работают специализированные программы мониторинга</li>
		<li>Обрыв связи не нанесет ущерба — при совершении платежа средства всегда находятся либо на карте клиента, либо на балансе магазина.</li>
		<li>ЗКассиры не имеют доступа к расчетному счету — только к приему платежей и их отмене.</li>
		<li>Перевод средств из кошелька RBK Money возможен только на расчетный счет, указанный при регистрации в системе.</li>
		</ul>
	</div>
	
	<h2 class="acc-pseudo"><span>Как защититься от кибермошенников?</span></h2>
	<div class="acc-hidden">
		<p>Для максимальной безопасности используйте пароли, состоящие не менее чем из 8 символов (комбинации из случайной последовательности букв и цифр). Не вводите их нигде, кроме сайта www.rbkcard.ru, и не показывайте третьим лицам. Пользуйтесь только лицензионными антивирусными программами, проверяйте обновления их компонентов и вирусных баз.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Как избежать необоснованных возвратов платежей?</span></h2>
	<div class="acc-hidden">
		<p>Бывает, что покупатель, расплатившись банковской картой, требует возврата средств за покупку (в мировой практике это называется chargeback). Причины для отзыва платежа могут быть разными — обычно это случается, когда клиент не получил товар или остался недоволен покупкой. Но претензии клиента могут быть и необоснованными. Чтобы их избежать:</p> 
		<ul>
		<li>Проверяйте принадлежность карты, попросив покупателя показать паспорт.</li>
		<li>Не принимайте несколько платежей с одной карты в короткий период времени.</li>
		<li>Тщательно проверяйте своих сотрудников.</li>
		</ul>
		<p>Мы работаем с банками от вашего имени и прикладываем максимум усилий для получения подтверждения оплаты, если законных оснований для ее отмены нет.</p>
		<p>А чтобы покупатели не отзывали свои платежи обоснованно, воспользуйтесь несколькими простыми советами.</p>
		<ul>
		<li>Всегда предоставляйте полную информацию о вашем товаре или услуге.</li>
		<li>Если вы отправляете товар посылкой, то дайте покупателю возможность отслеживать статус заказа.</li>
		<li>Убедитесь, что ваша контактная информация актуальна и доступна: если недовольный покупатель не сможет связаться с вами, он немедленно позвонит в банк и отзовет платеж.</li>
		<li>Собирайте и храните всю документацию по случаям отзывов платежей.</li>
		<li>Учитывайте в своей работе жалобы покупателей.</li>
		</ul>
	</div>
	
	
	<h1>Прием платежей</h1>
	
	<h2 class="acc-pseudo"><span>Какие карты я смогу принимать к оплате?</span></h2>
	<div class="acc-hidden">
		<p>На данный момент вы можете принимать карты Visa и MasterCard,  выпущенные российскими банками.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Существуют ли ограничения на прием средств?</span></h2>
	<div class="acc-hidden">
		<p>Да, изначально есть три ограничения.</p> 
		<ul>
		<li>Прием к оплате не более 15 000 рублей в день.</li>
		<li>Сумма одного платежа не более 15 000 рублей.</li>
		<li>Количество платежей с одной карты в течение 24 часов не более трех.</li>
		</ul>
	</div>
	
	<h2 class="acc-pseudo"><span>Могу ли я предоставить покупателю подтверждение оплаты покупки?</span></h2>
	<div class="acc-hidden">
		<p>Конечно. По факту оплаты система создает чек. Если платеж принят с помощью компьютера, вы можете распечатать этот чек на принтере или отправить по электронной почте. Если вы используете мобильное устройство, то покупатель расписывается прямо на экране, и чек отправляется на его электронный адрес.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>В какой валюте средства принимаются к оплате и выводятся из кошелька?</span></h2>
	<div class="acc-hidden">
		<p>Все расчеты в системе производятся в рублях РФ.</p> 
	</div>
	
	
	<h1>Вывод средств</h1>
	
	<h2 class="acc-pseudo"><span>Как я могу вывести средства?</span></h2>
	<div class="acc-hidden">
		<p>Средства выводятся на расчетный счет, указанный при регистрации в системе. Для этого в своем личном кабинете вам нужно выбрать раздел «Вывод средств», указать сумму,  пароль платежа, который вы вводили при регистрации в системе, и нажать кнопку «Выполнить».</p> 
		<p>Ограничений по выводу средств не предусмотрено.</p>
	</div>
	
	<h2 class="acc-pseudo"><span>Когда деньги будут перечислены на мой расчетный счет?</span></h2>
	<div class="acc-hidden">
		<p>На 3-й рабочий день после выполнения вывода.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Могу ли я вывести средства на расчетный счет другого юридического или физического лица?</span></h2>
	<div class="acc-hidden">
		<p>Нет. Вы можете вывести средства только на расчетный счет, указанный вами при регистрации в системе.</p> 
	</div>
	
	
	
	<h1>Работа с личным кабинетом пользователя</h1>
	
	<h2 class="acc-pseudo"><span>Зачем нужен пароль входа?</span></h2>
	<div class="acc-hidden">
		<p>Пароль входа необходим для доступа к вашему личному кабинету, в котором вы можете  принимать и отслеживать платежи, просматривать статистику операций, изменять настройки и совершать другие необходимые действия.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Зачем нужен пароль входа?</span></h2>
	<div class="acc-hidden">
		<p>Пароль входа необходим для доступа к вашему личному кабинету, в котором вы можете  принимать и отслеживать платежи, просматривать статистику операций, изменять настройки и совершать другие необходимые действия.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Как добавить кассира для  работы в системе?</span></h2>
	<div class="acc-hidden">
		<p>Выберите раздел «Права доступа» и создайте пользователя «Оператор терминала».</p> 
		<p>При регистрации нового пользователя потребуется ввести:</p> 
		<ul>
		<li>e-mail (он будет служить кассиру именем пользователя для входа в систему и должен отличаться от Вашего);</li>
		<li>пароль входа; </li>
		<li>Ф.И.О. пользователя.</li>
		</ul>
		<p>Вы можете добавить в систему любое количество пользователей.</p>
	</div>
	
	<h2 class="acc-pseudo"><span>Какие права и какая информация будут доступны кассиру?</span></h2>
	<div class="acc-hidden">
		<p>Кассир получит доступ только к приему платежей и их отмене.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Что делать, если я забыл пароль для входа в систему?</span></h2>
	<div class="acc-hidden">
		<p>При входе нажмите на ссылку «Забыли пароль?». В открывшемся окне введите свое имя пользователя (e-mail) и дату рождения. В течение нескольких минут система отправит вам электронное письмо со ссылкой для восстановления пароля. Перейдя по этой ссылке, вы получите доступ к своему личному кабинету.</p> 
	</div>
	<h2 class="acc-pseudo"><span>Что делать, если я забыл пароль платежа?</span></h2>
	<div class="acc-hidden">
		<p>Зайдите в меню «Безопасность» Личного кабинета и выберите пункт «Сменить пароль платежа». В открывшемся окне введите ответ на секретный вопрос, а затем — новый пароль платежа.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Если я неверно ввел имя пользователя и/или пароль, сколько у меня есть попыток для входа в систему?</span></h2>
	<div class="acc-hidden">
		<p>Вы можете вводить имя пользователя и пароль три раза. Если все три попытки оказались неверными, снова попробовать войти в систему вы сможете через 10 минут.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Как изменить пароли?</span></h2>
	<div class="acc-hidden">
		<p>Изменить пароль для входа в систему,  пароль платежа и секретный вопрос вы можете в разделе «Настройки» Личного кабинета.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Какая комиссия взимается за каждый принятый платеж?</span></h2>
	<div class="acc-hidden">
		<p>Комиссия составляет 2,9% от суммы платежа. На ваш электронный кошелек  RBK Money сумма поступает уже за вычетом комиссии.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Могу ли я при необходимости вернуть деньги покупателю?</span></h2>
	<div class="acc-hidden">
		<p>Да, вы можете вернуть средства покупателю полностью. При возврате в течение часа после покупки комиссия не взимается. Если отмена платежа происходит позже, комиссия не возвращается.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Поддерживает ли сервис какие-либо операционные системы, кроме Windows?</span></h2>
	<div class="acc-hidden">
		<p>Да, работать с RBK Card вы можете практически в любой операционной системе, в том числе Linux, Unix и Mac OS, а также на мобильных платформах iOS и Android.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>В каких браузерах работает RBK Card и требуются ли их дополнительные настройки?</span></h2>
	<div class="acc-hidden">
		<p>Сервис работает в следующих браузерах:</p> 
		<ul>
		<li>Internet Explorer 7 и выше</li>
		<li>Opera 9 и выше</li>
		<li>Mozilla Firefox 3.6 и выше</li>
		<li>Safari</li>
		<p>Никаких дополнительных настроек браузера не требуется.</p>
		</ul>
	</div>
	
	<h2 class="acc-pseudo"><span>Какие данные о товаре необходимо вводить при оплате?</span></h2>
	<div class="acc-hidden">
		<p>Никаких стандартов системой не предусмотрено — вы вводите данные на свое усмотрение.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Клиент не получил чек на e-mail. Могу ли я отправить его повторно?</span></h2>
	<div class="acc-hidden">
		<p>Да, все чеки сохраняются в истории операций, и вы можете отправить его еще раз, зайдя в раздел «Платежи».</p> 
	</div>
	
	
	
	
	
	<h1>Работа с кардридером</h1>
	
	<h2 class="acc-pseudo"><span>Как я могу получить кардридер?</span></h2>
	<div class="acc-hidden">
		<p>Если вы уже зарегистрировались в системе, обратитесь к нам по одному из телефонов:  +7 (495) 648-68-58, 8-800-200-88-20 (звонок по России бесплатный) или напишите письмо на rbkcard@rbkmoney.com. Кардридер будет выслан вам совершенно бесплатно.</p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Как пользоваться кардридером?</span></h2>
	<div class="acc-hidden">
		<p>Работать с кардридером очень легко. Его нужно подключить к разъему для наушников (аудиовыходу) вашего мобильного устройства, предварительно установив и запустив специальное приложение, которое можно скачать бесплатно на App Store (для iOS) или Google Play (для Android). Для совершения платежа введите сумму к оплате и проведите банковскую карту магнитной полосой через кардридер. </p> 
	</div>
	
	<h2 class="acc-pseudo"><span>Что делать, если у меня возникли проблемы при работе с кардридером?</span></h2>
	<div class="acc-hidden">
		<p>Прежде чем обращаться в техподдержку:</p> 
		<ul>
		<li>Попробуйте переустановить приложение — возможно, установка завершилась некорректно.</li>
		<li>Попробуйте переподключить кардридер.</li>
		<li>Убедитесь, что в гнезде аудиовыхода нет пыли или каких-либо инородных элементов. При необходимости прочистите разъем.</li>
		<li>Проверьте гнездо аудиовыхода на наличие коррозии.</li>
		<li>Попробуйте переподключить кардридер.</li>
		<li>Убедитесь, что вы используете одно из поддерживаемых устройств. Мы не можем гарантировать работу сервиса с устройством, которое не поддерживается.</li>
		</ul>
		<p>Вы можете добавить в систему любое количество пользователей.</p>
	</div>
{% endblock %}