{% extends "base.html" %}

{% block about_active_menu %}{% endblock %}

{% block shorttitle %}Мобильный POS терминал{% endblock %}

{% block description %}RBKCard - мобильный терминал для приема платежей банковских карт! Мини POS терминал на вашем смартфоне (Android, iPhone) или планшете (Android OS, Apple iOS)!  Не упустите ни одного клиента!{% endblock %}

{% block content %}
<h1>С RBK Card - мобильный POS терминал у вас в кармане!</h1>
	<p>Наш сервис – умная замена дорогостоящего платежного мини терминала, разработанный специально для увеличения продаж компаний и частных предпринимателей.</p> 
	<p>Начните принимать платежи уже сегодня с помощью своего компьютера, Android, iPhone либо iPad как на обычном <a href="{{ urls.about }}">терминале оплаты банковской картой</a>!</p> 

{% endblock %}