{% extends "base.html" %}

{% block shorttitle %}Безопасность терминалов{% endblock %}

{% block security_active_menu %}active{% endblock %}

{% block description %}RBK Card гарантирует защиту от взлома и безопасность вашего POS терминала, поскольку система использует шифрование данных по протоколу SSL.{% endblock %}

{% block content %}
<h1>Безопасность вашего POS терминала</h1>  
	<p>Безопасности платежей мы уделяем особое внимание. С RBK Card деньги защищены лучше, чем под замком кассового аппарата. И вот почему :</p>
	<ul>
	<li>Данные карт покупателей невозможно украсть — они не хранятся в системе.</li>
	<li>Система надежно защищена от взлома — используется шифрование данных по протоколу SSL.</li>
	<li>Любая подозрительная операция будет замечена и пресечена — для этого работают специализированные программы мониторинга.</li>
	<li>Обрыв связи не нанесет ущерба — при совершении платежа средства всегда находятся либо на карте клиента, либо на балансе магазина.</li>
	<li>Кассиры не имеют доступа к расчетному счету — только к приему платежей и их отмене.
	Перевод средств из кошелька RBK Money возможен только на расчетный счет, указанный при регистрации в системе.</li>
	</ul>
	<p>Кроме того, вам не придется самим разбираться в спорных ситуациях — например, в случае отзыва платежа недобросовестным покупателем. Мы работаем с банками от вашего имени и прикладываем максимум усилий для получения подтверждения оплаты, если законных оснований для ее отмены нет. </p>
	<p>Вы можете полностью доверять нам и не думать ни о чем, кроме своего бизнеса!  </p>

{% endblock %}